.board {
  @apply grid w-auto grid-cols-8 gap-0 bg-gray-900;
}

.tile {
  image-rendering: pixelated;
  @apply relative w-24 h-24 bg-cover border-0 hover:border-blue-900;
}

.tile-light {
  background-blend-mode: overlay;
  /* background-image: url("../public/tiles/floor_1.png"); */
  /* background-image: url("../public/tiles/floor_spikes_anim_f0.png"); */
  @apply bg-gray-500;
}

.tile-dark {
  background-blend-mode: overlay;
  /* background-image: url("../public/tiles/floor_2.png"); */
  /* background-image: url("../public/tiles/floor_spikes_anim_f0.png"); */
  @apply bg-gray-800;
}

.selected {
  @apply border-red-900;
}

.can-move {
  @apply bg-[#dba463];
  /* @apply bg-purple-900; */
}

.visited {
  @apply bg-red-900;
}

.player {
  image-rendering: pixelated;
  /* @apply w-[48px] h-[84px]; */
  @apply w-full h-full p-3;
}

.num {
  @apply text-xs text-gray-100;
}
