.board {
  @apply grid w-auto grid-cols-8 gap-0 bg-gray-900 relative transition-all duration-300;
}

.shake {
  animation: board-shake 0.2s infinite;
}

@keyframes board-shake {
  0% {
    left: 0px;
    top: 0px;
    transform: rotate(0deg);
  }
  25% {
    left: 1px;
    top: 1px;
    transform: rotate(0.15deg);
  }
  50% {
    left: 2px;
    top: -2px;
    transform: rotate(0.3deg);
  }
  75% {
    left: -1px;
    top: 1px;
    transform: rotate(-0.15deg);
  }
  100% {
    left: 0px;
    top: 0px;
    transform: rotate(0deg);
  }
}

.tile {
  image-rendering: pixelated;
  @apply relative md:w-24 md:h-24 bg-cover border-0 hover:border-blue-900;
}
.tile + .can-move:hover {
  @apply bg-yellow-500 cursor-pointer;
}

.tile-light {
  background-blend-mode: overlay;
  @apply bg-gray-500;
}

.tile-dark {
  background-blend-mode: overlay;
  /* background-image: url("../public/tiles/floor_2.png"); */
  /* background-image: url("../public/tiles/floor_spikes_anim_f0.png"); */
  @apply bg-gray-800;
}

.selected {
  @apply border-red-900;
}

.can-move {
  @apply bg-[#dba463];
  /* @apply bg-purple-900; */
}

.visited {
  @apply bg-red-900;
}

.player {
  z-index: 40;
  image-rendering: pixelated;
  /* @apply w-[48px] h-[84px]; */
  @apply w-full h-full p-3 relative transition-all duration-300;
}

.num {
  @apply text-sm text-gray-400;
}
