.board {
  @apply grid grid-cols-8 gap-0 w-auto;
}

.tile {
  image-rendering: pixelated;
  @apply w-24 h-24 border-0 relative hover:border-blue-900 bg-cover;
}

.tile-light {
  background-blend-mode: overlay;
  background-image: url("../public/tiles/floor_1.png");
  @apply bg-gray-500;
}

.tile-dark {
  background-blend-mode: overlay;
  background-image: url("../public/tiles/floor_2.png");
  @apply bg-gray-700;
}

.selected {
  @apply border-red-900;
}

.can-move {
  @apply bg-purple-900;
}

.player {
  image-rendering: pixelated;
  @apply w-[48px] h-[84px];
}

.num {
  @apply text-xs text-gray-100;
}
