@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.logo {
  @apply relative inline w-20 h-20 lg:w-28 lg:h-28 top-5 lg:top-0;
}

.title {
  text-shadow: 4px 4px 0px #b4202a;
  color: #73172d;
  @apply text-[4rem] leading-3 lg:text-[9rem] lg:leading-10 uppercase;
}

.main {
  z-index: -10;
  image-rendering: pixelated;
  background-image: url("../public/tiles/wall_mid.png");
  background-size: 10%;
  background-blend-mode: overlay;
  box-shadow: inset 0 0 100px 55px #000000;
  @apply flex flex-col items-center justify-center w-full h-screen bg-gray-800;
}
.board-container {
  image-rendering: pixelated;
  background-image: url("../public/tiles/wall_mid.png");
  background-size: 10%;
  background-blend-mode: overlay;
  box-shadow: inset 0 0 100px 40px #000000;
  @apply relative w-auto h-auto p-10 lg:p-12;
}

.menu-container {
  @apply flex flex-col items-start overflow-hidden transition-all duration-300 transform w-80;
}

.menu {
  @apply flex transition-all duration-300 transform w-full;
}
.menu-1 {
  image-rendering: pixelated;
  /* background-image: url("../public/tiles/wall_mid.png"); */
  background-size: 100%;
  background-blend-mode: overlay;
  /* box-shadow: inset 0 0 25px #0f0f0f, 4px 4px 20px #000000; */
  @apply flex overflow-hidden flex-none
  font-sans text-3xl w-full
  /* bg-[#0f0f0f] */
  transition-all transform duration-300 translate-x-0;
}

.slide-menu {
  @apply -translate-x-80;
}
.main-menu-close {
  @apply translate-x-80;
}

.menu-title {
  @apply text-5xl text-[#b4202a] uppercase;
}

.banner {
  filter: brightness(0.6);
  background-image: url("../public/banner.png");
  @apply absolute bg-cover w-96 h-96 -left-8 -top-6;
}

.score {
  background-image: url("../public/tiles/score.png");
  /* background-size: 10%; */
  /* background-size: 150%; */
  background-blend-mode: overlay;
  background-color: #74030a;
  @apply bg-cover px-8 flex justify-between text-center font-bold text-[#fa6a0a] bg-[#242234] border-[1rem] border-[#74030a] w-[22rem] text-7xl border-opacity-80;
}

button {
  outline: 0;
}

.button {
  @apply relative flex items-center justify-start md:h-10 lg:h-16 md:p-0 lg:px-1 lg:py-3 space-x-4 text-white transition-all duration-300 bg-black bg-opacity-10 hover:bg-opacity-20;
}
.disabled {
  filter: grayscale(100%);
}
.button > .icon {
  @apply w-14 h-14 transition-all duration-100 hover:w-14 hover:h-14;
}
.button > .name {
  @apply text-4xl transition-all duration-100 text-[#f4d29c];
}
.button:hover > .name {
  @apply text-[#fbb442];
}

.button:hover > .icon {
  @apply w-16 h-16;
}
.new-game {
  text-shadow: 2px 2px 0px #74030a;
  @apply text-6xl text-[#b4202a] transition-all duration-100 whitespace-nowrap;
}
.new-game:hover {
  text-shadow: 2px 2px 0px #ff414e;
}

.go-back {
  @apply text-6xl text-[#fbb442] transition-all duration-100 whitespace-nowrap;
}
