@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.logo {
  @apply relative top-4;
}

.title {
  line-height: 10rem;
  text-shadow: 4px 4px 0px #8b93af;
  color: #4a5462;
  @apply text-[12rem]  uppercase mt-5;
}

.main {
  z-index: -10;
  image-rendering: pixelated;
  background-image: url("../public/tiles/wall_mid.png");
  background-size: 10%;
  background-blend-mode: overlay;
  @apply flex flex-col items-center justify-center w-full h-screen space-y-10 bg-gray-800;
}
.board-container {
  image-rendering: pixelated;
  background-image: url("../public/tiles/wall_mid.png");
  background-size: 10%;
  background-blend-mode: overlay;
  box-shadow: inset 0 0 100px 55px #000000;
  @apply relative w-auto h-auto p-16;
}

.menu {
  image-rendering: pixelated;
  background-image: url("../public/tiles/wall_mid.png");
  background-size: 100%;
  background-blend-mode: overlay;
  box-shadow: inset 0 0 25px #0f0f0f, 4px 4px 20px #000000;
  @apply flex-none font-sans text-3xl bg-[#0f0f0f] w-[21.5rem] border-[1rem] border-[#040405];
}

.banner {
  filter: brightness(0.6);
  background-image: url("../public/banner.png");
  @apply absolute bg-cover w-96 h-96 -left-5 -top-4;
}

.score {
  @apply text-3xl font-bold text-gray-300;
}

.button {
  @apply relative flex items-center justify-start h-20 px-2 py-3 space-x-4 text-white transition-all duration-300 bg-black bg-opacity-10 hover:bg-opacity-20 hover:bg-[#df3e23];
}
.button > .icon {
  @apply w-10 h-10 transition-all duration-100 hover:w-14 hover:h-14;
}
.button > .name {
  @apply text-4xl transition-all duration-100;
}
.button:hover > .new-game {
  @apply text-[4rem];
}
.button:hover > .icon {
  @apply w-12 h-12;
}
.new-game {
  text-shadow: 2px 2px 0px #74030a;
  @apply text-6xl text-[#b4202a] transition-all duration-100;
}
.new-game:hover {
  text-shadow: 2px 2px 0px #ff414e;
}
